body {
  font-family: "Roboto", sans-serif;
}

.brand-logo {
  width: 15.8rem;
  height: 3.5rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 145%;
  a {
    color: #000000;
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  li {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.55rem;
    font-style: normal;
    margin: 0 0.8rem;
    list-style-type: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 0.1rem solid #e16259;
    }
  }
}

@media only screen and (max-width: 375px) {
  .brand-logo {
    font-size: 2rem;
    height: auto;

    a {
      color: #000000;
      text-decoration: none;
    }
  }

  ul {
    li {
      font-size: 1.3rem;
    }
  }
}
