.interruption-reason-container {
  margin-left: 1rem;
  transition: all 0.2s ease;

  & .container {
    font-size: 1rem;
  }
}

/* The container */
.container {
  color: $secondary-color;
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #eee;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  & input:checked ~ .checkmark {
    background-color: $primary-color;
  }

  /* Show the checkmark when checked */
  & input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  & .checkmark:after {
    left: 0.5rem; //0.9rem
    top: 0.2rem; //0.5rem
    width: 0.2rem; //0.5rem
    height: 0.6rem; //1rem
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid $secondary-color;
  border-radius: 0.3rem;
}
