.users-container {
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & .user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    width: 282px;
    height: 110px;
    background: #ffffff;
    /* Medium Shadow */

    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 1rem;

    & > h2 {
      margin: 0.2rem 0 0.3rem 0;
    }

    & > p {
      left: 5.67%;
      right: 17.38%;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      /* identical to box height, or 22px */

      //   color: #ffffff;
    }
    .user-gender {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 150%;
      /* identical to box height, or 21px */

      //   color: #ffffff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 769px) {
  .users-container {
    justify-content: space-around;
  }
}
